@import '../../../../assets/scss/colors.scss';

.header {
  height: 60px;

  background: $black-bg;
  color: white;
  display: flex;
  .header-inner {
    margin: auto;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .header {
    .header-inner {
      text-align: center;
      margin-left: auto;
    }
  }
}
