@import '../../../../assets/scss/colors.scss';

.container-fluid {
  height: 70px;
  background: $black-bg;
  color: white;
}

@media (min-width: 576px) {
  .container-fluid {
    text-align: center;
  }
}

h1 {
  font-size: 24px;
}
