@import '../../../../assets/scss/colors.scss';

.container-fluid {
  height: 60px;
  background: $black-bg;
  color: white;
}

@media (min-width: 576px) {
  .container-fluid {
    text-align: center;
  }
}
