<div class="container">
  <div class="container-fluid form-box">
    <form class="row mt-4" [formGroup]="registrationForm">
      <div class="col-sm-6 col-12 form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" />
      </div>
      <div class="col-sm-6 col-12 form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          placeholder="Enter Password"
          formControlName="password"
        />
        <div class="indications">
          <div><span class="valid"></span>8+ characters</div>
          <div><span class="invalid"></span>8+ characters</div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [class.inactive]="registrationForm.invalid">Submit</button>
    </form>
  </div>
</div>
