@import '../../../../assets/scss/colors.scss';

.form-container {
  padding: 15px;
  max-width: 600px;
  margin: 0 auto;
}
.form-box {
  border: 1px solid black;

  .first,
  .second {
    padding: 15px;
  }

  button[type='submit'] {
    background: $black-bg;
    width: 100%;
    margin-bottom: 15px;
    color: white;
    padding: 13px;
  }

  .under-input-errors-holder {
    color: $error;
    font-size: 12px;
    * {
      font-size: 12px;
    }
  }
}

@media (min-width: 576px) {
  .form-container {
    margin-top: 25vh;
  }
  .form-box {
    display: flex;
    flex-wrap: wrap;
    // reverse the direction on tablet only
    flex-direction: row-reverse;

    .first,
    .second {
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .first {
      .email-input {
        flex: 1;
      }
    }
  }
}

@media (min-width: 1024px) {
  .form-box {
    flex-direction: row;
  }
}
