<div class="form-container">
  <form class="form-box" [formGroup]="registrationForm" (submit)="submit()">
    <div class="first">
      <div class="email-input">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" />
        <div class="under-input-errors-holder" *ngIf="emailControl.touched && emailControl.invalid">
          <span *ngIf="emailControl.hasError('required')">Required field</span>
          <span *ngIf="!emailControl.hasError('required') && emailControl.hasError('pattern')">Invalid email pattern</span>
        </div>
      </div>
      <div class="show-only-tablet">
        <ng-container *ngTemplateOutlet="submitButton"></ng-container>
      </div>
    </div>
    <div class="second">
      <app-registration-password [passwordControl]="passwordControl"></app-registration-password>
      <div class="hide-on-tablet">
        <ng-container *ngTemplateOutlet="submitButton"></ng-container>
      </div>
    </div>
  </form>
</div>

<ng-template #submitButton>
  <button type="submit" class="btn" [attr.tabIndex]="registrationForm.invalid ? -1 : 0" [class.inactive]="registrationForm.invalid">
    Submit
  </button>
</ng-template>
