<div class="container">
  <div class="container-fluid form-box">
    <form class="row mt-4" [formGroup]="registrationForm" (submit)="submit()">
      <div class="col-sm-6 col-12 form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" placeholder="Enter Email" formControlName="email" />
        <div class="under-input-errors-holder" *ngIf="emailControl.touched && emailControl.invalid">
          <span *ngIf="emailControl.hasError('required')">Required field</span>
          <span *ngIf="!emailControl.hasError('required') && emailControl.hasError('pattern')"
            >Invalid email pattern</span
          >
        </div>
      </div>
      <div class="col-sm-6 col-12 form-group">
        <app-registration-password [passwordControl]="passwordControl"></app-registration-password>
      </div>
      <div class="col-6"></div>
      <div class="col-12 col-sm-6">
        <button
          type="submit"
          class="btn btn-primary"
          [attr.tabIndex]="registrationForm.invalid ? -1 : 0"
          [class.inactive]="registrationForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
