@import '../../../../../assets/scss/colors.scss';

.indications {
  margin-top: 10px;
  span {
    width: 20px;
    display: inline-block;

    &::after {
      content: '✔︎';

      color: $success;
    }
    &.invalid {
      &::after {
        content: '✘';
        color: $error;
      }
    }
    &::after {
      letter-spacing: 0;
      font-family: ZapfDingbatsITC;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
