@import '../../../../../assets/scss/colors.scss';

.indications {
  margin-top: 10px;
  padding: 0;
  li {
    list-style: none;

    &::before {
      content: '✔︎';

      color: $success;
    }
    &.invalid {
      &::before {
        content: '✘';
        color: $error;
      }
    }
    span {
      margin-left: 5px;
    }
  }
}
